{% extends "homebase.html" %}
	    {% load static %}
{% block title %} {{ content.title }} {% endblock %}
{% block keywords %} {{ settings.keywords }}  {% endblock %}
{% block description %} {{ settings.description }}  {% endblock %}

    {% block head %}

<link rel='shortcut icon' type='image/x-icon' href='{{settings.icon.url}}' />

    {% endblock %}


{% block content %}

    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="">Contents</a></li>
                <li><a href="/category/{{ content.category_id }}/{{ content.category.slug }}">{{ content.category }}</a></li>
                <li class="active">{{ content.title }}</li>
            </ul>
        </div>
    </div>

    <div id="fh5co-about">
        <div class="container">
            <div class="col-md-6 animate-box">
                <span>About Our University</span>
                <h2>{{ content.title }}</h2>
                <p>{{ content.detail | safe }}</p>

            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="{{ content.image.url }}" alt="Free HTML5 Bootstrap Template">
            </div>
        </div>
	</div>

    <aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">

				{% for rs in images %}

		   			<li style="background-image: url({{rs.image.url}});">
		   				<div class="overlay-gradient"></div>
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center slider-text">
									<div class="slider-text-inner">
										<h1>The Roots of Education are Bitter, But the Fruit is Sweet</h1>
											<h2>Brought to you by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
											<p><a class="btn btn-primary btn-lg" href="/content/{{ rs.id }}/{{ rs.slug }}">Start Learning Now!</a></p>
									</div>
								</div>
							</div>
						</div>
		   			</li>
				{% endfor %}

		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>We Help You to Learn New Things</h1>
									<h2>Brought to you by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
									<p><a class="btn btn-primary btn-lg btn-learn" href="#">Start Learning Now!</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>

    <div id="fh5co-course">
		<div class="container">

			<div class="row">



                {% for rs in images %}
				    <div class="col-md-6 animate-box">
	    				<div class="course">
    						<a href="#" class="course-img" style="background-image: url({{rs.image.url}});"></a>
						    <div class="desc">
                                <h3><a href="#">{{ content.title }}</a></h3>
                                <p> {{ content.description | safe }} </p>
		    				</div>
					    </div>
			    	</div>
                {% endfor %}

                {% for rs in comments %}
                    <div class="col-md-6 animate-box">
	    				<div class="course">
						    <div class="desc">


                                <h2>{{rs.subject}}</h2>
                                <p>{{rs.comment}}</p>
                                <p>Rate is {{rs.rate}}</p>
                                <div><a href=""><b>{{ rs.user.username }}</b></a></div>
                                <div>Created at: <a href=""><b>{{ rs.create_at }}</b></a></div>
		    				</div>
					    </div>
			    	</div>
                {% endfor %}
			</div>

            <div>
                <div class="col-md-6 animate-box">
                <h4 class="text-uppercase">Write Your Review</h4>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tag }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <p>Your email address will not be published.</p>
                    <form class="review-form" action="/content/add_comment/{{ content.id }}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="input" type="text" name="subject" id="id_subject" placeholder="Subject" />
                        </div>

                        <div class="form-group">
                            <input class="input" type="email" name="email" id="id_email" placeholder="Your Email Address" />
                        </div>

                        <div class="form-group">
                            <textarea class="input" name="comment" id="id_comment" cols="30" rows="10" placeholder="Your Review"></textarea>
                        </div>

                        <div class="form-group">
                            <div class="input-rating">
                                <strong class="text-uppercase">Your Raiting:</strong>
                                <div class="stars">
                                    <input type="radio" id="star5" name="rate" value="5" /><label for="star5"></label>
                                    <input type="radio" id="star4" name="rate" value="4" /><label for="star4"></label>
                                    <input type="radio" id="star3" name="rate" value="3" /><label for="star3"></label>
                                    <input type="radio" id="star2" name="rate" value="2" /><label for="star2"></label>
                                    <input type="radio" id="star1" name="rate" value="1" /><label for="star1"></label>
                                </div>
                            </div>
                        </div>
                        {% if user.id is not none %}
                        <button class="btn-primary">Submit</button>
                        {% else %}
                            Yorum eklemek için <a href="/login">giriş</a> yapınız. Üye değilseniz <a href="/register">kayıt</a> olunuz.
                        {% endif %}
                    </form>
                </div>

            </div>
		</div>
	</div>
{% endblock %}