{% load static %}

<script>
    $(function () {
        $("#query").autocomplete({
            source: "search_auto/",
            select: function (event, ui) {
                AutoCompleteSelectHandler(event,ui)
            },
            minLength: 2,
        });
    });
    
    function AutoCompleteSelectHandler(event, ui) {
        var selectedObj = ui.item;
    }
</script>

<header>
		<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<p class="site"><a href="/">http://127.0.0.1:8000/</a></p>
						<p class="num">Call: +01 123 456 7890</p>
						<ul class="fh5co-social">
							<li><a href="https://www.facebook.com/fvarlii" target="_blank"><i class="icon-facebook2"></i></a></li>
							<li><a href="https://twitter.com/f_varli" target="_blank"><i class="icon-twitter2"></i></a></li>
							<li><a href="https://instagram.com/f_varli" target="_blank"><i class="icon-instagram"></i></a></li>
							<li><a href="https://www.linkedin.com/in/fvarli/" target="_blank"><i class="icon-linkedin2"></i></a></li>
							<li><a href="https://github.com/fvarli" target="_blank"><i class="icon-github" ></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-1">
						<div id="fh5co-logo"><a href="/">Engineer</a></div>
					</div>
                    <div class="col-xs-1">

                    </div>
                    <div class="header-search col-xs-4">
                        <form action="/search/" method="post">
                            {% csrf_token %}
                            <input type="text" name="query" id="query" class="input search-input" placeholder="Enter your keyword">

                            {% load mptt_tags %}
                            <!-- TODO search and category relations and fix the issue https://www.youtube.com/watch?v=vuqutQ3gU0M&list=PLIUezwWmVtFUq0RcsaBn8LR_o9R5psLPh&index=21
                            <select name="catid" class="input search-categories">
                                <option value="0">All Categories</option>
                                {% recursetree category %}
                                    {% if node.is_leaf_node %}
                                        <option value="{{ node.id }}">{{ node.title }}</option>
                                    {% endif %}
                                    {% if not node.is_leaf_node %}
                                        <optgroup label="{{ node.title }}">
                                            {{ children }}
                                        </optgroup>
                                    {% endif %}
                                {% endrecursetree %}
                            </select>
                            -->
                            <button class="icon-search4"></button>
                        </form>
                    </div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="active"><a href="index.html">Home</a></li>
							<li class="has-dropdown">
								<a href="blog.html">Blog</a>
								<ul class="dropdown">
									<li><a href="#">Web Design</a></li>
									<li><a href="#">eCommerce</a></li>
									<li><a href="#">Branding</a></li>
									<li><a href="#">API</a></li>
								</ul>
							</li>
            				<li><a href="/referanslar">Referanslar</a></li>
            				<li><a href="/hakkimizda">Hakkımızda</a></li>
            				<li><a href="/iletisim">İletişim</a></li>
							<li class="btn-cta"><a href="#"><span>Login</span></a></li>
							<li class="btn-cta"><a href="#"><span>Create a Course</span></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>
</header>