{% extends "homebase.html" %}

{% block title %} Login | {{ settings.company }} {% endblock %}
{% block keywords %} {{ settings.keywords }}  {% endblock %}
{% block description %} {{ settings.description }}  {% endblock %}

    {% block head %}

<link rel='shortcut icon' type='image/x-icon' href='{{settings.icon.url}}' />

    {% endblock %}


{% block content %}

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Giriş</li>
            </ul>
        </div>
    </div>&emsp;


    <div class="section">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="contact-details">
                        <div class="section-details">
                            <h3 class="title">Giriş Yapın</h3>
                        </div>

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{message.tags}}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="input" type="text" name="username" id="username" placeholder="Username" />
                        </div>

                        <div class="form-group">
                            <input class="input" type="password" name="password" id="password" placeholder="Password" />
                        </div>

                            <input type="submit" value="Login">
                    </form>
<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}