{% extends "homebase.html" %}

{% block title %} Sign Up | {{ settings.company }} {% endblock %}
{% block keywords %} {{ settings.keywords }}  {% endblock %}
{% block description %} {{ settings.description }}  {% endblock %}

    {% block head %}

<link rel='shortcut icon' type='image/x-icon' href='{{settings.icon.url}}' />

    {% endblock %}


{% block content %}

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Kayıt Ol</li>
            </ul>
        </div>
    </div>&emsp;


    <div class="section">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="contact-details">
                        <div class="section-details">
                            <h3 class="title">Kayıt Ol</h3>
                        </div>

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{message.tags}}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <form action="" method="post">
                            {% csrf_token %}
                                {% for field in form %}
                                    <p>
                                        {{ field.label_tag }}<br>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small style="color: grey">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                            <button type="submit">Kayıt Ol</button>
                        </form>
<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}