{% extends "homebase.html" %}
{% block title %} Profile | {{ profile.user_name }} {% endblock %}
{% block keywords %} {{ settings.keywords }}  {% endblock %}
{% block description %} {{ settings.description }}  {% endblock %}

    {% block head %}

        <link rel='shortcut icon' type='image/x-icon' href='{{settings.icon.url}}' />




    {% endblock %}


{% block content %}

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Yeni Gezi Ekle</li>
            </ul>
        </div>
    </div>&emsp;


    <div class="section">
        <div class="container">
            <div class="row">

                <div class="col-md-3">

                            {% include "user_panel.html" %}

                </div>



                <div class="col-md-9">
                    <div class="section-title">
                        <h3 class="title">Yeni Gezi Ekle</h3>
                    </div>

                    <div class="content-section">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form.media }}
                                {{ form.as_p }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn-primary" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}