{% extends "homebase.html" %}

{% block title %} Profile | {{ profile.user_name }} {% endblock %}
{% block keywords %} {{ settings.keywords }}  {% endblock %}
{% block description %} {{ settings.description }}  {% endblock %}

    {% block head %}

<link rel='shortcut icon' type='image/x-icon' href='{{settings.icon.url}}' />

    {% endblock %}


{% block content %}

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Change Password</li>
            </ul>
        </div>
    </div>&emsp;


    <div class="section">
        <div class="container">
            <div class="row">

                <div class="col-md-4">

                            {% include "user_panel.html" %}

                </div>

                  <style>
                        a.btn-update, a.btn-password {
                        box-shadow: 3px 4px 0px 0px #899599;
                        background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
                        background-color:#ededed;
                        border-radius:15px;
                        border:1px solid #d6bcd6;
                        display:inline-block;
                        cursor:pointer;
                        color:#3a8a9e;
                        font-family:Arial;
                        font-size:17px;
                        padding:7px 25px;
                        text-decoration:none;
                        text-shadow:0px 1px 0px #e1e2ed;
                        }
                        th, td {
                              border: 1px solid #dddddd;
                              text-align: left;
                              padding: 8px;
                        }
                         table {
                          font-family: arial, sans-serif;
                          border-collapse: collapse;
                          width: 100%;
                         }
                        tr:nth-child(even) {
                        background-color: #dddddd;
                        }
                    </style>

                <div class="col-md-8">
                    <div class="section-title">
                        <h3 class="title">Change Password</h3>
                    </div>

                    {% if messages %}
                        {% for message in messages %}
                            <div style="color: #d43f3a; font-size: medium">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form action="" method="post">
                        {% csrf_token %}

                        {% for field in  form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.error %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}

                            </p>
                        {% endfor %}
                        <button class="btn-primary" type="submit">Save Changes</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}