{% extends "homebase.html" %}

{% block title %} Profile | {{ profile.user_name }} {% endblock %}
{% block keywords %} {{ settings.keywords }}  {% endblock %}
{% block description %} {{ settings.description }}  {% endblock %}

    {% block head %}

<link rel='shortcut icon' type='image/x-icon' href='{{settings.icon.url}}' />

    {% endblock %}


{% block content %}

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Kullanıcı Profili</li>
            </ul>
        </div>
    </div>&emsp;


    <div class="section">
        <div class="container">
            <div class="row">

                <div class="col-md-4">

                            {% include "user_panel.html" %}

                </div>

                  <style>
                        a.btn-update, a.btn-password {
                        box-shadow: 3px 4px 0px 0px #899599;
                        background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
                        background-color:#ededed;
                        border-radius:15px;
                        border:1px solid #d6bcd6;
                        display:inline-block;
                        cursor:pointer;
                        color:#3a8a9e;
                        font-family:Arial;
                        font-size:17px;
                        padding:7px 25px;
                        text-decoration:none;
                        text-shadow:0px 1px 0px #e1e2ed;
                        }
                        th, td {
                              border: 1px solid #dddddd;
                              text-align: left;
                              padding: 8px;
                        }
                         table {
                          font-family: arial, sans-serif;
                          border-collapse: collapse;
                          width: 100%;
                         }
                        tr:nth-child(even) {
                        background-color: #04FFFF;
                        }
                    </style>

                <div class="col-md-8">
                    <div class="section-title">
                        <h3 class="title">User Information</h3>
                    </div>
                    <div class="row">
                        <a href="/user/update" class="btn-primary btn-update">Update Profile</a> <br><br>
                        <a href="/user/password" class="btn-primary btn-password">Change Password</a>
                    </div>
                    <br>


                    <table>
                        <thead>
                            <tr>
                                <th class="text-left">Image</th>
                                <td><img src="{{ profile.image.url }}" alt="" width="100" height="100"></td>
                            </tr>
                            <tr>
                                <th class="text-left">Name Surname</th>
                                <td class="text-left">{{ profile.full_name }}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Email</th>
                                <td class="text-left">{{ profile.user.email }}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Phone</th>
                                <td class="text-left">{{ profile.phone }}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Address</th>
                                <td class="text-left">{{ profile.address }}</td>
                             </tr>
                            <tr>
                                <th class="text-left">City</th>
                                <td class="text-left">{{ profile.city }}</td>
                             </tr>
                            <tr>
                                <th class="text-left">Country</th>
                                <td class="text-left">{{ profile.country }}</td>
                            </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}