{% extends "homebase.html" %}

{% block title %} Hakkımızda | {{ settings.company }} {% endblock %}
{% block keywords %} {{ settings.keywords }}  {% endblock %}
{% block description %} {{ settings.description }}  {% endblock %}

    {% block head %}

<link rel='shortcut icon' type='image/x-icon' href='{{settings.icon.url}}' />

    {% endblock %}


{% block content %}

&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Hakkımızda</li>
            </ul>
        </div>
    </div>

&emsp;&emsp;&emsp;
    <div class="section">
        <div class="container">
            <div class="row">
                {{ settings.about_us|safe }}
            </div>
        </div>
    </div>
{% endblock %}